<ion-header [translucent]="true" class="animacao">
  <ion-toolbar color="primary">
    <ion-title>
      Conheça Itajubá
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true" class="animacao">
  <ion-card>
    <img alt="Imagem no lago de Itajubá" src="assets/images/i-love-itajuba.jpeg" />
    <ion-card-header>
      <ion-card-title>Cidade fácil de ser amada</ion-card-title>
    </ion-card-header>

    <ion-card-content class="ion-text-justify">
      Itajubá une lazer, negócios, eventos, gastronomia, cultura e belezas naturais. O constraste entre tradição e modernidade, agitação e tranquilidade, esportes e eventos culturais, entrelaçam um roteiro imperdível e cheio de aventura, descobertas e muita diversão.
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      <ion-card-title>Segmentos</ion-card-title>
    </ion-card-header>

    <ion-list>
      <ion-item href="https://www.instagram.com/parqueitajubaoficial/" target="_blank">
          <ion-icon name="leaf"></ion-icon>
          <ion-label class="ion-margin-start">Parques</ion-label>
        </ion-item>

        <ion-item href="https://www.instagram.com/parqueitajubaoficial/" target="_blank">
          <ion-icon name="bicycle"></ion-icon>
          <ion-label class="ion-margin-start">Aventura</ion-label>
        </ion-item>

        <ion-item href="https://www.instagram.com/parqueitajubaoficial/" target="_blank">
          <ion-icon name="color-palette"></ion-icon>
          <ion-label class="ion-margin-start">Museu</ion-label>
        </ion-item>

        <ion-item lines="none" href="https://www.instagram.com/parqueitajubaoficial/" target="_blank">
          <ion-icon name="pizza"></ion-icon>
          <ion-label class="ion-margin-start">Gastronomia</ion-label>
        </ion-item>
    </ion-list>
  </ion-card>
</ion-content>
