<ion-header [translucent]="true">
  <ion-toolbar color="tertiary">
    <ion-title>
      Universidades
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-list>

    <!-- PRIMEIRO ITEM - FEPI -->
    <ion-item [routerLink]="['/fepi']">
      <ion-thumbnail slot="start">
        <img src="https://lh3.googleusercontent.com/p/AF1QipMrMuDheLO2TE9WXcr37oUH_LoLg05WdH_0OnfL=s680-w680-h510-rw" alt="Foto do Centro Universitário de Itajubá">
      </ion-thumbnail>

      <!-- RÓTULO -->
      <ion-label>
        <ion-text color="tertiary">
          <h2>FEPI - Centro Universitário de Itajubá</h2>
        </ion-text>

        <!-- DISTINTIVO -->
        <ion-badge color="danger">Varginha</ion-badge>
      </ion-label>

      <ion-icon name="arrow-forward-outline"></ion-icon>
    </ion-item>
  </ion-list>
</ion-content>
